{% extends "admin/rotmic/readonly.html" %}
{% load i18n admin_static admin_list admin_modify admin_urls %}

{% block side-rating %}{% endblock %}

{%block title-image%}
    <img src="{% static "img/freezer.jpg" %}" align="left" height="60" width="60" 
    style="padding-left:0px; padding-right:10px; padding-top:0px"> 
{%endblock%}

{% block content-top %}{%endblock%} {#skip entirely #}

{% block content-bottom %}    
<div class='module'>
    <h2>Racks</h2>
    
    <p> 
        This location contains <b>{{o.racks.count}} racks</b> comprising 
        <b>{{o.containerCount}}&nbsp;containers</b> with a total of 
        <b>{{o.sampleCount}}&nbsp;samples</b>.<br>
        <a href="{% url 'admin:rotmic_rack_changelist'%}?location={{o.id}}">
            Jump to rack table</a>
    </p>
    
    {% if perms.rotmic.add_rack %}
        <ul class="object-tools">
            <li><a href="{% url 'admin:rotmic_rack_add'%}?location={{o.pk}}">Add Rack</a></li>
        </ul>
    {% endif %}

    <div style="margin: 10px">
        <table cellspacing="0">

            <thead>
            <tr>
                <th>Rack ID</th><th>Name</th><th>Containers</th><th>Samples</th>
            </tr>
            </thead>

            <tbody>
            {% for r in o.racks.all %}
            
              <tr class="{% cycle 'row1' 'row2' %}">
      
                <td><b><a href="{{r.get_absolute_url}}">{{r.displayId}}</a></b></td>
                   
                <td>{{r.name}}</td>
                
                <td align="center">{{r.showContainerCount}}</td>
                
                <td align="center">{{r.showSampleCount}}</td>
              </tr>

          {% endfor %}
          </tbody>
        </table>
        <p></p>
        <small>Note: click on container or sample count to jump to pre-filtered Container or Sample table.</small>
    </div>
</div>    
{% endblock %} 

{% block side-top %}
    <div class="module" id="location-module">
        <h2>Location</h2>
        <ul>
            <li><b>Room:</b> {{o.room}}</li>
            <li><b>Temperature:</b> {{o.temperature}} C</li>
        </ul>
    </div>

{% endblock %}
