{% extends "admin/rotmic/readonly.html" %}
{% load i18n admin_static admin_list admin_modify admin_urls %}

{% block side-rating %}{% endblock %}

{% block content-bottom %}    
    <h2>Racks</h2>
    
    <p> This location contains <b>{{o.racks.count}} racks</b> comprising 
        <b>{{o.containerCount}}&nbsp;containers</b> with a total of 
        <b>{{o.sampleCount}}&nbsp;samples</b>.</p>
    
    <div style="margin: 10px">
        <table cellspacing="0">

            <thead>
            <tr>
                <th>Rack ID</th><th>Name</th><th>Containers</th><th>Samples</th>
            </tr>
            </thead>

            <tbody>
            {% for r in o.racks.all %}
            
              <tr class="{% cycle 'row1' 'row2' %}">
      
                <td><b><a href="{{r.get_absolute_url}}">{{r.displayId}}</a></b></td>
                   
                <td>{{r.name}}</td>
                
                <td align="center"><a href="{%url 'admin:rotmic_container_changelist'%}?location={{o.pk}}&rack={{r.pk}}" title="jump to containers">
                    {{r.containers.count}}</a></td>
                
                <td align="center"><a href="{%url 'admin:rotmic_sample_changelist'%}?location={{o.displayId}}&rack={{r.displayId}}" title="jump to samples">
                    {{r.sampleCount}}</a></td>
              </tr>

          {% endfor %}
          </tbody>
        </table>
        <p></p>
        <small>Note: click on container or sample count to jump to pre-filtered Container or Sample table.</small>
    </div>
    
{% endblock %} 

{% block side-top %}
    <div class="module" id="location-module">
        <h2>Location</h2>
        <ul>
            <li><b>Room:</b> {{o.room}}</li>
            <li><b>Temperature:</b> {{o.temperature}} C</li>
        </ul>
    </div>

{% endblock %}
