{% extends "admin/rotmic/component/change_form.html" %}

{% load i18n admin_modify  %}
{% load rotmicfilters %}

    {# duplicating a line from parent template but activates syntax highlighting #}
<!--    <script language=javascript type='text/javascript'>-->
        
        {% block ajax-typeinfo %}"/getChemicalTypes/"{% endblock %}   
            
        {% block ajax-nextId %}"/rotmic/ajax/nextChemicalId/"{% endblock %}
        
    
        {% block func_suggestName %}
        // de-activate name-suggestion
        function suggestName() {
        }
        {% endblock %}

        {% block func_categoryAction %}
        // method called if componentCategory select element is changed
        function categoryAction(){
            updateListBox();
            hideShow();
            // suggestName(); // only suggest name on loading of the form
            // suggestId(); // only suggest ID on loading of the form
        }
        {% endblock func_categoryAction %}
        
<!--    </script>-->
    
