{% extends "admin/rotmic/component/readonly.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load rotmicfilters %}

    {%block title-image%}
        <img src="{% static "img/chemical.png" %}" align="left" height="45" 
        style="padding-left:0px; padding-right:10px; padding-top:0px; padding-bottom:5px"> 
    {%endblock%}

    {%block content-details %}
        <p><ul>
            <li><b>C.A.S.:</b> {% if o.cas %}{{o.cas}}{%else%} {%endif%}</li>
        </ul><p>
    {% endblock %}
    
    {% block sequence %}{% endblock %} {# remove sequence block #}

    {%block add-sample-url %} {# Link for "Add Sample" Button #}
        <a href="{% url 'admin:rotmic_chemicalsample_add'%}?chemical={{o.pk}}">
    {% endblock %}

