{% extends "admin/rotmic/component/change_form.html" %}

{% load i18n admin_modify %}

{% block after_field_sets %}
    {{block.super}}
    
    <script language=javascript type='text/javascript'>

        // protect user edit of displayId; otherwise re-suggest on category change
        $('#id_componentCategory').change(suggestId);
        
        function block_displayId(){
            if ($('#id_displayId').val()){
                sessionStorage.setItem('displayId_changed', "1"); //suggestId checks for == "1"
            } else {
                sessionStorage.setItem('displayId_changed', "0"); //re-activate suggestId
            }
        }
        
        $("#id_displayId").change(block_displayId);

        // Hide & Show input fields depending on category     
        function hideShow() {
            var category = $("#id_componentCategory option:selected").text();
            f_insert = $('.field-box.field-insert').first()[0];
            f_vector = $('.field-box.field-vectorBackbone').first()[0];
            f_markers= $('.field-box.field-markers').first()[0];
            f_translates = $('.field-box.field-translatesTo').first()[0]
            
            switch ( category ) {
                case 'Vector Backbone':
                    f_insert.style.visibility = 'hidden';
                    f_vector.style.visibility = 'hidden';
                    f_markers.style.visibility = 'visible';
                    f_translates.style.visibility = 'hidden';
                    break;
                case 'Plasmid':
                    f_insert.style.visibility = 'visible';
                    f_vector.style.visibility = 'visible';
                    f_markers.style.visibility = 'hidden';
                    f_translates.style.visibility = 'hidden';
                    break;
                case 'Fragment':
                    f_insert.style.visibility = 'hidden';
                    f_vector.style.visibility = 'hidden';
                    f_markers.style.visibility = 'visible';
                    f_translates.style.visibility = 'visible';
                    break;
                case 'Marker':
                    f_insert.style.visibility = 'hidden';
                    f_vector.style.visibility = 'hidden';
                    f_markers.style.visibility = 'hidden';
                    f_translates.style.visibility = 'hidden';
                    break;
                default:
                    f_insert.style.visibility = 'hidden';
                    f_vector.style.visibility = 'hidden';
                    f_markers.style.visibility = 'hidden';
                    f_translates.first().style.visibility = 'hidden';
                    break;
            }
        }
        
        $("#id_componentCategory").change(hideShow);

    </script>
    
{% endblock %}