{% extends "admin/rotmic/change_form_component.html" %}

{% load i18n admin_modify %}

    
    {# duplicating a line from parent template but activates syntax highlighting #}
    {# <script language=javascript type='text/javascript'> #}
    
        {% block ajax-typeinfo %}"/getTypeDnaInfo/"{% endblock %}   
            
        {% block ajax-nextId %}"/rotmic/ajax/nextDnaId/"{% endblock %}
        
        // Assign IDs to vector, marker and insert fields (complete <div> with Label and help text)
        // By default, input elements themselves are accessible by, for example:
        // "id_marker" and "add_id_marker" (the Plus symbol for sub-forms). 
        {% block func_initDiv %}
        function initIdDiv(){
            try{
                var scr = "";
                var divs = document.getElementsByTagName("div");
                for(var i = 0; i < divs.length; i++){
                    if (divs[i].className=='field-box field-insert') {
                        divs[i].id = 'id_field_insert';
                    }
                    if (divs[i].className=='field-box field-markers') {
                        divs[i].id = 'id_field_markers';
                    }
                    if (divs[i].className=='field-box field-vectorBackbone') {
                        divs[i].id = 'id_field_vectorBackbone';
                    }
                    if (divs[i].className=='field-box field-translatesTo') {
                        divs[i].id = 'id_field_translatesTo';
                    }
                }
            } catch (e) {
                log(e.message);
            }
        }
        {% endblock %}
    
        {% block hideShow %}
        function hideShow() {
            var category = getCurrentCategory();
            
            switch ( category ) {
                case 'Vector Backbone':
                    document.getElementById('id_field_insert').style.visibility = 'hidden';
                    document.getElementById('id_field_vectorBackbone').style.visibility = 'hidden';
                    document.getElementById('id_field_markers').style.visibility = 'visible';
                    document.getElementById('id_field_translatesTo').style.visibility = 'hidden';
                    break;
                case 'Plasmid':
                    document.getElementById('id_field_insert').style.visibility = 'visible';
                    document.getElementById('id_field_vectorBackbone').style.visibility = 'visible';
                    document.getElementById('id_field_markers').style.visibility = 'hidden';
                    document.getElementById('id_field_translatesTo').style.visibility = 'hidden';
                    break;
                case 'Fragment':
                    document.getElementById('id_field_insert').style.visibility = 'hidden';
                    document.getElementById('id_field_vectorBackbone').style.visibility = 'hidden';
                    document.getElementById('id_field_markers').style.visibility = 'visible';
                    document.getElementById('id_field_translatesTo').style.visibility = 'visible';
                    break;
                case 'Marker':
                    document.getElementById('id_field_insert').style.visibility = 'hidden';
                    document.getElementById('id_field_vectorBackbone').style.visibility = 'hidden';
                    document.getElementById('id_field_markers').style.visibility = 'hidden';
                    document.getElementById('id_field_translatesTo').style.visibility = 'hidden';
                    break;
                default:
                    document.getElementById('id_field_insert').style.visibility = 'hidden';
                    document.getElementById('id_field_vectorBackbone').style.visibility = 'hidden';
                    document.getElementById('id_field_markers').style.visibility = 'hidden';
                    document.getElementById('id_field_translatesTo').style.visibility = 'hidden';
                    break;
            }
        }
        {% endblock %}
        
        {% block func_setPlusLinks %}    
        // override the link for "+" Buttons so that the correct category is pre-selected    
        function setPlusLinks() {
            django.jQuery("#add_id_markers").hide(); // hide the Marker + field

            var categories = captureCategories();
            //var cat_marker = categories['Marker'].toString();
            var cat_vector = categories['Vector Backbone'].toString();
            var cat_insert = categories['Fragment'].toString();
            
            var urladd = "/rotmic/dnacomponent/add/?category="
            document.getElementById("add_id_vectorBackbone").href = urladd + cat_vector;
            document.getElementById("add_id_insert").href = urladd + cat_insert;
        }
        {% endblock %}
        
        {% block func_suggestName %}
        // compose new Name from plasmid and cell name
        function suggestName() {
            var category = getCurrentCategory();
            var name_field = document.getElementById('id_name');
            
            if (category == 'Plasmid'){
                if (getCache('manualName_Plasmid')){
                    name_field.value = getCache('manualName_Plasmid');
                } else {
            
                    var vector = document.getElementById('id_vectorBackbone_0').value
                    if (document.getElementById('id_field_insert').style.visibility == 'hidden'){
                        vector = '';
                    }
                    
                    var insert = document.getElementById('id_insert_0').value;
                    if (document.getElementById('id_field_insert').style.visibility == 'hidden'){ 
                        insert = ''; 
                    }
                    
                    var r = _extractName(insert) + '_' + _extractName(vector);
                    if (insert || vector){
                        document.getElementById('id_name').value = r;
                    } else {
                        document.getElementById('id_name').value = '';
                    }
                }
            } else {
                if (getCache('manualName')){
                    name_field.value = getCache('manualName');
                }
            }
        }
        {% endblock %}
    
        {% block func_nameAction %} 
        // cache manually edited name
        function nameAction() {
            var current = document.getElementById('id_name').value;
            //distinguish only between plasmid and any other category
            if (getCurrentCategory() != 'Plasmid'){
                setCache('manualName', current);
            } else {
                setCache('manualName_Plasmid', current);
            }
        }
        {% endblock %}
        
        // Append events to Main function
        {% block setEventsExtra %}
            // see https://django-selectable.readthedocs.org/en/version-0.7.0/advanced.html
            // for all available events
            document.getElementById( 'id_insert_0' ).djselectableselect = suggestName;
            document.getElementById( 'id_vectorBackbone_0' ).djselectableselect = suggestName;
        {% endblock %}
      

