{% extends "admin/rotmic/component/readonly.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load rotmicfilters benchling seqdisplay %}

{% block extrastyle %}{{block.super}}
    {% seqdisplay_css %}
{% endblock %}

{% block extrahead %}{{ block.super }}
<!--
    {% benchling_libs %}
-->
    {% seqdisplay_libs %}
{% endblock %}

{% block footer %}{{ block.super }}
<!--    place D3 javascript container at the end of the page so that-->
<!--    scrollbar has already appeared. Otherwise a silent resizing of the page-->
<!--    makes the SVG container violate the DIV boundaries.-->
    {% seqdisplay o 'seq-d3' %}
{% endblock %}

    {%block title-image%}
        <img src="{% static "img/dnaconstruct.png" %}" align="left" height="45" 
        style="padding-left:0px; padding-right:10px; padding-top:0px; padding-bottom:5px"> 
    {%endblock%}

    {% block add-sample-url %} {# Link for "Add Sample" Button #}
        <a href="{% url 'admin:rotmic_dnasample_add'%}?dna={{o.pk}}">
    {% endblock %}
    
    {% block content-title%}<h2>Description</h2>{% endblock %}    
    
    {% block content-details %}{% endblock %}
        
    {% block content-description %}

        <div id="description">
            <p class='description'>
                {{o.description|markdown}}
            </p>
            
            <table>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                {% if o.vectorBackbone %}
                    {% with o.vectorBackbone as vector %}
                        <tr class="row1" style="vertical-align:middle">
                            <td style="background-color:white;"> 
                                <img src="{% static "img/icon_plasmid_open.png" %}" align="left" height="35"> 
                            </td>
                            <td style="vertical-align:middle">Vector<br>Backbone:</td>
                            <td style="vertical-align:middle">
                                <b><a href="{{vector.get_absolute_url}}" title="{{vector.description}}">
                                {{vector}}</a></b>
                            </td>
                            <td style="vertical-align:middle">
                                [{{vector.componentType.name}}]</td>
                            <td style="vertical-align:middle"
                                >{{vector.showDescription}}</td>
                            <td></td>
                        </tr>
                        {% for m in vector.markers.all %}
                            <tr  class="row1">
                                <td style="background-color:white;">
                                    <img src="{% static "img/icon_marker.png" %}" align="left">
                                </td>
                                <td>
                                    Marker:
                                </td>
                                <td>
                                    <a href="{{m.get_absolute_url}}" title="{{m.description}}"><b>{{m.name}}</b></a>
                                </td>
                                <td>[{{m.componentType.name}}]</td>
                                <td>{{m.showDescription}}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endwith %}
                {% endif %}
                
                {% for m in o.markers.all %}
                    <tr class="row1">
                        <td style="background-color:white;">
                            <img src="{% static "img/icon_marker.png" %}" align="left"></td>
                        <td>
                            Marker (own):
                        </td>
                        <td>
                            <a href="{{m.get_absolute_url}}" title="{{m.description}}"><b>{{m.name}}</b></a>
                        </td>
                        <td>[{{m.componentType.name}}]</td>
                        <td>{{m.showDescription}}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                
                {% for x in o.allProteins %}
                    <tr class="row1">
                        <td style="background-color:white;">
                            <img src="{% static "img/icon_protein.png" %}" align="left" height="30">
                        </td>
                        <td style="vertical-align:middle">
                            generates<br>Protein:
                        </td>
                        <td style="vertical-align:middle">
                            <b><a href="{{x.get_absolute_url}}" title="{{x.description}}">{{x}}</a></b></td>
                        <td style="vertical-align:middle">
                            [{{x.componentType.name}}]</td>
                        <td style="vertical-align:middle">
                            {{x.showDescription}}</td>
                        <td style="text-align: center;vertical-align:middle;">
                            {{x.protein_samples.count}} samples
                        </td>
                    </tr>
                {% endfor %}
            </table></p>

        </div>

        {% endblock content-description%}

    
    {% block content-middle %}
    
        {% block sequence %}
            <div id='sequence' class='module'> 
                <!-- Link to js function for toggling view of benchling or text div -->    
                <h2>Sequence 
                    (
<!--                     <a href='#' onclick="toggle_between('seq-benchling',['seq-text', 'seq-d3']);">Benchling</a> |-->
                     <a href='#' onclick="toggle_between('seq-text',['seq-benchling','seq-d3']);">Text</a> |
                     <a href='#' onclick="toggle_between('seq-d3',['seq-text','seq-benchling']);">Graphic</a>
                     )
                </h2> 
                
                <!-- style="display:none" completely removes the element at first loading of page-->
                <div id='seq-benchling' style='display:none'>
                    {# {% benchling o %} #}
                </div>
                
                <div id='seq-text' style="height:145px;overflow:auto;display:none">
                    <p style='font-family:monospace;word-wrap:break-word'>
                        &gt;{{o.displayId}}<br>{{o.sequence}}
                    </p>
                </div>
                
                <div id='seq-d3' style="height:145px">
                </div>
                
            </div>        
        {% endblock sequence %}

    
        {% if o.relatedDnaCount > 0 or o.as_plasmid_in_cell.count %}    
        <div class='module'>
            <h2>Related Entries: 
                {{o.relatedDnaCount|add:o.as_plasmid_in_cell.count}}
                <a href="#" onclick="toggle_visibility('related-entries');">(Hide/Show)</a>
            </h2>
            <div id='related-entries'>
            
                        
                {% if o.componentType.category.name == 'Plasmid' %}
                    <p><br></p>
                    <ul class="object-tools">
                        <li><a href="{% url 'admin:rotmic_cellcomponent_add'%}?plasmid={{o.pk}}">Add Cell</a></li>
                    </ul>
                {% endif %}
                {% if o.componentType.category.name == 'Fragment' %}
                    <p><br></p>
                    <ul class="object-tools">
                        <li><a href="{% url 'admin:rotmic_dnacomponent_add'%}?insert={{o.pk}}">Insert in Plasmid</a></li>
                        <li><a href="{% url 'admin:rotmic_proteincomponent_add'%}?name={{o.name}}&sequence={{o.seq2aa}}&encodedBy={{o.pk}}">Translate to Protein</a></li>
                    </ul>
                {% endif %}
                
               
                {% if o.relatedDnaCount > 0 %}
                    <p>
                        <b>{{o.componentType.name}}</b> {{o.displayId}} is used <b>within</b> the following other <b>DNA constructs</b>:
                    </p>
                    <div style="margin: 10px">
                        <table cellspacing="1">
                
                            <thead>
                            <tr>
                                <th>used as</th>
                                <th>in</th><th>Description</th>
                                <th>Samples</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for key, models in o.relatedDnaDict.items %}
                                    {% for x in models %}
                                        <tr class="{% cycle 'row1' 'row2' %}">
                                        
                                        <td>{{key}}</td>
                                        <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                        <td>{{x.showDescription}}</td>
                                        <td style="text-align: center;">{{x.dna_samples.count}}</td>
        
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                
                {% if o.as_plasmid_in_cell.count > 0 %}
                    <p>
                        {{o.displayId}} is used within the following <b>Cells</b>:
                    </p>
                    <div style="margin: 10px">
                        <table cellspacing="1">
                
                            <thead>
                            <tr>
                                <th>used as</th>
                                <th>in</th>
                                <th>Species</th>
                                <th>Description</th>
                                <th>Samples</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for x in o.as_plasmid_in_cell.all %}
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                    
                                    <td>plasmid</td>
                                    <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                    <td>{{x.componentType}}</td>
                                    <td>{{x.showDescription}}</td>
                                    <td style="text-align: center;">{{x.cell_samples.count}}</td>
    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>
        </div>
        {% endif %}
    
    {% endblock content-middle %}

    {% block samples %} {# replacing default sample block because we display DNA and Cell Samples#}
        <div class='module'>
            <h2>Samples <a href="#" onclick="toggle_visibility('samples');">(Hide/Show)</a></h2>
            <div id='samples'>
                <p><br></p>
                <ul class="object-tools">
                    <li><a href="{% url 'admin:rotmic_dnasample_add'%}?dna={{o.pk}}">Add DNA Sample</a></li>
                    {% if o.componentType.category.name == 'Plasmid' %}
                        <li><a href="{% url 'admin:rotmic_cellsample_add'%}?plasmid={{o.pk}}">Add Cell Sample</a></li>
                    {% endif %}
                </ul>
                
                {% with n=o.allSamplesCount %}
                    {% if n > 0 %}
                        <p>
                            There are <b>{{n}} samples</b> (DNA or cell stock) registered for this DNA construct.<br>
                        </p>
                        
                        <div style="margin: 10px">
                            <table cellspacing="1">
                    
                                <thead>
                                <tr>
                                    <th>location</th>
                                    <th>ID/<br>Pos.</th><th>Status</th>
                                    <th>prepared</th><th>by</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Sequencing</th>
                                </tr>
                                </thead>
                    
                                <tbody>
                                {% for x in o.allSamples %}
                                
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                  
                                        <td>{{x.container.showVerbose}}</td>
                                                             
                                        <td><b><a href="{{x.get_absolute_url}}">{{x.displayId}}</a></b></td>
                                        
                                        <td>{{x.showStatus}}</td>
                                        
                                        <td>{{x.preparedAt}}</td>
                                        
                                        <td>{{x.registeredBy}}</td>
                                        
                                        <td>{{x.showType}}</td>
                                        
                                        <td>{{x.description | truncateHTML:30}}</td>

                                        <td>{{x.showSequencingAll}}</td>
                                    </tr>
                    
                              {% endfor %}
                              </tbody>
                            </table>
                            <p></p>
                            <small>
                                Help: Move mouse over content link to see content description. 
                                Move mouse over sample description to see full length description.
                            </small>
                        </div>
                    
                    {% else %}
                        <p>There are no samples registered for this DNA construct.</p>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    
    {% endblock samples %}

    {% block side-top %}
        {{block.super}}

        <div class="module" id="record-module">
            <h2>DNA properties</h2>
            <p><ul>
                <li><b>Length:</b> {{o.length}} bp</li>
                <li><b>GC content:</b> {{o.gccontent}}</li>
            </ul><p>
        </div>
    {% endblock %}
    
    {% block side-bottom %}
        <div class="module" id="record-module">
            <h2>Export</h2>
            {% if o.genbank %}
                <p><a href="genbank/">Download GenBank file</a><p>
            {% else %}
                <p>No genbank file attached.</p>
            {% endif %}
        </div>
    {% endblock %}