{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>DNA: {{ original.displayId }} ({{ original.name }})<a href="/rotmic/dnacomponent/{{ original.id }}/edit"><img src="http://icons.iconarchive.com/icons/custom-icon-design/office/16/edit-icon.png"/></a></h1>
        <div id="content-main">
        
<form enctype="multipart/form-data" action="" method="post" id="dnacomponent_form"><input type='hidden' name='csrfmiddlewaretoken' value='EknmgaCUBMqzsw9pwmQU3V4QhERiqKaO' />
<div>
{% block filter %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Specifications' %}</h2>
        <h3>{% trans 'Status' %}</h3>
            <p>{% trans original.status %}</p>
            <ul class="actionlist">
        <h3>{% trans 'Type / Category' %}</h3>
        {{original.componentType }}
        
        
        <h3>{% trans 'Marker' %}</h3>
        <p>{% for o in original.marker.all %}{{ o.name }}<br>{% endfor %}</p>
       
        <h3>{% trans 'Circular' %}</h3>
        <p>{% if original.circular == True %} <img src="/static/admin/img/icon-yes.gif" alt="True" /> {% endif %}
               
            <ul class="actionlist">
            
            <li></li>
            </ul>
    </div>
</div>
{% endblock %}
  <fieldset class="module aligned ">
        <div class="form-row field-displayId field-name field-status">
        <TABLE BORDER="0"> 
                <CAPTION> Description </CAPTION> 
                    <TR>
                    <TH> <div>
                            <p>{{ original.comment }}</p>
                        </TH> 
                    </TR>
                <TR> 
                
                        <TH> <div class="field-box field-baseVector">
                        <label>Vector Backbone :</label>
                            <p>{% if original.vectorBackbone != None %} {{ original.vectorBackbone }}  {% endif %}</p>
                             </div>
                       </TH> 
                </TR>
                <TR>
                <TH><div class="field-box field-insert">
                        <label class="inline">Insert:</label>
                            <p>{% if original.insert != None %} {{ original.insert }}  {% endif %}</p>
                </div></TH>
                </TR>
                <TR>
                <TH><div class="field-box field-created_by">
                        <label>Created by:</label>
                            <p>{{original.registeredBy.get_username}} ({{original.registeredBy.get_full_name}})</p>
                </div></TH>
                </TR>
                <TR>
                <TH><div class="field-box field-registration_date">
                        <label>Registred:</label>
                            <p>{{ original.registeredAt }}</p>
                </div></TH>
                
                <TH><div class="field-box field-source">
                        <label class="inline">Source:</label>
                            <p>{% for o in original.source.all %}
                                {{ o }}
                               {% endfor %}</p>
                        <p class="help">external source</p>
                    
                </div></TH>
                </TR>
        </TABLE>    
        </div>
</fieldset>


<!--  <fieldset class="module aligned ">-->
<!--          <div class="form-row field-displayId field-name field-sequence" style="width:500px">-->
<!--    <h2>Sequence</h2>-->
<!--    <TABLE BORDER="0" width="600"> -->
<!--                <pre class="literal-block">-->
<!--                            <p> {% for o in original.split_len %}-->
<!--                            {{ o }}{% endfor %}</p>-->
<!--                        <p class="help">nucleotide sequence</p>-->
<!--                </pre>   -->
<!--         </TR> -->
<!---->
<!--        </TABLE>-->
<!--        </div>-->
<!--    </fieldset>-->
<!--<fieldset class="module aligned ">-->
<!--    <h2>Attachements</h2>-->
<!--    <TABLE BORDER="0"> -->
<!--        {% for o in original.attachements.all %}   -->
<!--                <TR> -->
<!--                        <TH><p>{{ o.get_absolute_html_url|safe }}</p></TH>-->
<!--                        <TH><p><{{ o.description }}</p></TH>-->
<!--                </TR> -->
<!--        {% endfor %}-->
<!---->
<!--        </TABLE>-->
<!--    </fieldset>-->
    
<!--<fieldset class="module aligned ">-->
<!--    <h2>Related Samples :</h2>-->
<!--    <TABLE BORDER="0"> -->
<!--                <TR> -->
<!--                        <TH>ID</TH>-->
<!--                        <TH>DNA</p></TH>-->
<!--                        <TH>In Cell</TH>-->
<!--                        <TH>Status</p></TH>-->
<!--                        <TH>Concentration</TH>-->
<!--                        <TH>Amount</TH>-->
<!---->
<!--                </TR> -->
<!--        {% for o in original.related_dnaSamples.all %}   -->
<!--                <TR> -->
<!--                        <TD><a href="../../reviewplasmid/{{ o.id }}/">{{ o.displayId|safe }}</a></TD>-->
<!--                        <TD><a href="../../reviewdna/{{ o.original.displayId }}/">{{ o.original|safe }}</a></TD>-->
<!--                        <TD><a href="../../reviewcell/{{ o.inCell.id }}/">{{ o.inCell|safe }}</a></TD>-->
<!--                        <TD>{{ o.status|safe }}</TD>-->
<!--                        <TD>{% if o.concentration != None %} {{ o.concentration }}{{ o.concentrationUnit }} {% endif %}</TD>-->
<!--                        <TD>{% if o.amount != None %} {{ o.amount }}{{ o.amountUnit }} {% endif %}</TD>-->
<!---->
<!--                </TR> -->
<!--        {% endfor %}-->
<!---->
<!--        </TABLE>-->
<!--    </fieldset>-->


{% endblock %}

