{% extends "admin/rotmic/component/readonly.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load rotmicfilters %}

    {%block title-image%}
        <img src="{% static "img/dnaconstruct.png" %}" align="left" height="45" 
        style="padding-left:0px; padding-right:10px; padding-top:0px; padding-bottom:5px"> 
    {%endblock%}

    {% block add-sample-url %} {# Link for "Add Sample" Button #}
        <a href="{% url 'admin:rotmic_dnasample_add'%}?dna={{o.pk}}">
    {% endblock %}
    
    {% block content-title%}<h2>Description</h2>{% endblock %}    
    
    {% block content-details %}{% endblock %}
        
    {% block content-description %}
        <div>
            <p class='description'>
                {{o.description|markdown}}
            </p>
        </div>
        
        <div style="width: 100%; height: 1px;background: lightgrey; text-align: center;"><h4>Features</h4></div>
        <p><br></p>
        
        {% with o.componentType.category|upper as category %}
            <table>
                <tr>
                    {% if o.insert %} 
                        <th style="text-align: center;">Insert</th> <th width="20"></th> 
                    {% endif %}
                    {% if o.vectorBackbone %} 
                        <th style="text-align: center;">Vector Backbone</th> <th width="20"></th>
                        <th style="text-align: center;">Vector Markers</th> <th></th>
                    {% endif %}
                    {% if o.markers.all %}
                        <th style="text-align: center;">Own Markers</th> <th></th>
                    {% endif %}
                </tr>
                <tr>
                    {% if o.insert %} 
                        <td style="text-align: center;">
                            <a href="{{o.insert.get_absolute_url}}" title="{{o.insert.description}}">{{o.insert.displayId}}</a>
                            <p>
                                <em>{{o.insert.name}}</em>
                            </p>
                            [{{o.insert.componentType}}]
                        </td> <td></td>
                    {% endif %}
                    {% if o.vectorBackbone %} 
                        {% with o.vectorBackbone as vector %}
                            <td style="text-align: center;">
                                <a href="{{vector.get_absolute_url}}" title="{{vector.description}}">{{vector.displayId}}</a>
                                <p>
                                    <em>{{vector.name}}</em>
                                </p>
                                [{{vector.componentType.name}}]
                            </td> <td></td>
                            <td style="text-align: center;">
                                {% if vector.markers.all %}
                                    {% for m in vector.markers.all %}
                                        <a href="{{m.get_absolute_url}}" title="{{m.description}}">{{m}}</a><br>
                                    {% endfor %}
                                {% endif %}
                            </td> <td></td>
                        {% endwith %}
                    {% endif %}
                    {% if o.markers.all %}
                        <td style="text-align: center;">
                            {% for m in o.markers.all %}
                                <a href="{{m.get_absolute_url}}" title="{{m.description}}">{{m}}</a><br>
                            {% endfor %}
                        </td> <td></td>
                    {% endif %}
                </tr>            
            </table>
            
            {% if not o.insert and not o.vectorBackbone and not o.markers.all %}
                <p>There are no sequence features described.</p>
            {% endif %}
        {% endwith %}

    {% endblock content-description%}

    
    {% block content-middle %}
    
        {{block.super}} {# dispay sequence #}
        
        <div class='module'>
            <h2>Related Entries: {{o.allProteins|length|add:o.relatedDnaCount|add:o.as_plasmid_in_cell.count}}</h2>
            {% if o.componentType.category.name == 'Plasmid' %}
                <p><br></p>
                <ul class="object-tools">
                    <li><a href="{% url 'admin:rotmic_cellcomponent_add'%}?plasmid={{o.pk}}">Add Cell</a></li>
                </ul>
            {% endif %}
            {% if o.componentType.category.name == 'Fragment' %}
                <p><br></p>
                <ul class="object-tools">
                    <li><a href="{% url 'admin:rotmic_dnacomponent_add'%}?insert={{o.pk}}">Insert in Plasmid</a></li>
                    <li><a href="{% url 'admin:rotmic_proteincomponent_add'%}?name={{o.name}}&sequence={{o.seq2aa}}&encodedBy={{o.pk}}">Translate to Protein</a></li>
                </ul>
            {% endif %}
            
           
            {% if o.relatedDnaCount > 0 %}
                <p>
                    <b>{{o.componentType.name}}</b> {{o.displayId}} is used <b>within</b> the following other <b>DNA constructs</b>:
                </p>
                <div style="margin: 10px">
                    <table cellspacing="1">
            
                        <thead>
                        <tr>
                            <th>used as</th>
                            <th>in</th><th>Description</th>
                            <th>Samples</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for key, models in o.relatedDnaDict.items %}
                                {% for x in models %}
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                    
                                    <td>{{key}}</td>
                                    <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                    <td>{{x.showDescription}}</td>
                                    <td style="text-align: center;">{{x.dna_samples.count}}</td>
    
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            
            {% if o.as_plasmid_in_cell.count > 0 %}
                <p>
                    {{o.displayId}} is used within the following <b>Cells</b>:
                </p>
                <div style="margin: 10px">
                    <table cellspacing="1">
            
                        <thead>
                        <tr>
                            <th>used as</th>
                            <th>in</th>
                            <th>Species</th>
                            <th>Description</th>
                            <th>Samples</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for x in o.as_plasmid_in_cell.all %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                
                                <td>plasmid</td>
                                <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                <td>{{x.componentType}}</td>
                                <td>{{x.showDescription}}</td>
                                <td style="text-align: center;">{{x.cell_samples.count}}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            
            {% if o.allProteins %}
                <br>
                <p>
                    {{o.displayId}} <b>encodes</b> the following <b>Proteins</b> or protein fragments:
                </p>
                <div style="margin: 10px">
                    <table cellspacing="1">
            
                        <thead>
                        <tr>
                            <th>ID (name)</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Samples</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for x in o.allProteins %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                
                                <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                <td>{{x.componentType}}</td>
                                <td>{{x.showDescription}}</td>
                                <td style="text-align: center;">{{0}}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                {% if o.componentType.category.name == 'Fragment' %}
                    <br>
                    <p>
                        No <b>protein translations</b> found for this DNA fragment.<br>
                        You can either use the "Translate to Protein" button to create a new protein
                        record or press "Edit" and connect this DNA to an already existing protein record
                        with the "translates To" field within the Edit form.
                    </p>
                {% endif %}
            {% endif %}

        </div>
    
    {% endblock content-middle %}

    {% block samples %} {# replacing default sample block because we display DNA and Cell Samples#}
        <div class='module'>
            <h2>Samples</h2>
                <p><br></p>
                <ul class="object-tools">
                    <li><a href="{% url 'admin:rotmic_dnasample_add'%}?dna={{o.pk}}">Add DNA Sample</a></li>
                    {% if o.componentType.category.name == 'Plasmid' %}
                        <li><a href="{% url 'admin:rotmic_cellsample_add'%}?plasmid={{o.pk}}">Add Cell Sample</a></li>
                    {% endif %}
                </ul>
                
                {% with n=o.allSamplesCount %}
                    {% if n > 0 %}
                        <p>
                            There are <b>{{n}} samples</b> (DNA or cell stock) registered for this DNA construct.<br>
                        </p>
                        
                        <div style="margin: 10px">
                            <table cellspacing="1">
                    
                                <thead>
                                <tr>
                                    <th>location</th>
                                    <th>ID/<br>Pos.</th><th>Status</th>
                                    <th>prepared</th><th>by</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Sequencing</th>
                                </tr>
                                </thead>
                    
                                <tbody>
                                {% for x in o.allSamples %}
                                
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                  
                                        <td>{{x.container.showVerbose}}</td>
                                                             
                                        <td><b><a href="{{x.get_absolute_url}}">{{x.displayId}}</a></b></td>
                                        
                                        <td>{{x.showStatus}}</td>
                                        
                                        <td>{{x.preparedAt}}</td>
                                        
                                        <td>{{x.registeredBy}}</td>
                                        
                                        <td>{{x.showType}}</td>
                                        
                                        <td>{{x.description | truncateHTML:30}}</td>

                                        <td>{{x.showSequencingAll}}</td>
                                    </tr>
                    
                              {% endfor %}
                              </tbody>
                            </table>
                            <p></p>
                            <small>
                                Help: Move mouse over content link to see content description. 
                                Move mouse over sample description to see full length description.
                            </small>
                        </div>
                    
                    {% else %}
                        <p>There are no samples registered for this DNA construct.</p>
                    {% endif %}
                {% endwith %}
        </div>
    
    {% endblock samples %}

    {% block side-top %}
        {{block.super}}

        <div class="module" id="record-module">
            <h2>DNA properties</h2>
            <p><ul>
                <li><b>Length:</b> {{o.length}} bp</li>
                <li><b>GC content:</b> {{o.gccontent}}</li>
            </ul><p>
        </div>
    {% endblock %}
    
    {% block side-bottom %}
        <div class="module" id="record-module">
            <h2>Export</h2>
            {% if o.genbank %}
                <p><a href="genbank/">Download GenBank file</a><p>
            {% else %}
                <p>No genbank file attached.</p>
            {% endif %}
        </div>
    {% endblock %}