{% extends "admin/rotmic/change_form_component.html" %}

{% load i18n admin_modify  %}
{% load rotmicfilters %}

    {# duplicating a line from parent template but activates syntax highlighting #}
    <script language=javascript type='text/javascript'>
        
        {% block ajax-typeinfo %}"/getCellTypes/"{% endblock %}   
            
        {% block ajax-nextId %}"/rotmic/ajax/nextCellId/"{% endblock %}
        
        // Assign IDs to vector, marker fields (complete <div> with Label and help text)
        // By default, input elements themselves are accessible by, for example:
        // "id_marker" and "add_id_marker" (the Plus symbol for sub-forms). 
        {% block func_initDiv %}
        function initIdDiv(){
            try{
                var scr = "";
                var divs = document.getElementsByTagName("div");
                for(var i = 0; i < divs.length; i++){
                    if (divs[i].className=='field-box field-plasmid') {
                        divs[i].id = 'id_field_plasmid';
                    }
                    if (divs[i].className=='field-box field-markers') {
                        divs[i].id = 'id_field_markers';
                    }
                }    
            } catch (e) {
                log(e.message);
            }
        }
        {% endblock %}
    
        {% block extra_methods %}

            // get (name of) currently selected componentType
            function getCurrentType(){
                var index = document.getElementById('id_componentType').selectedIndex;
                if ( index != -1 ){
                    return document.getElementById('id_componentType').options[index].label;
                }
                return "";
            }
            
           // copy plasmid visibility flags from all registered CellComponentTypes
            function typeAllowsPlasmid(name) {
                var map = {
                    {% for t in cellTypes %}"{{t.name}}" : {% if t.allowPlasmids %} true {% else %} false {%endif%},
                    {% endfor %}};
                
                if ( !(name in map) ){ return false; };
                return map[ name ];
            }
        
            // copy marker visibility flags from all registered CellComponentTypes
            function typeAllowsMarkers(name) {
                var map = {
                    {% for t in cellTypes %}"{{t.name}}" : {% if t.allowMarkers %} true {% else %} false {%endif%},
                    {% endfor %}};
            
                if ( !(name in map) ){ return false; };
                return map[ name ];
            }
        
        {% endblock extra_methods %}
    
    
        // hide or show input elements depending on chosen category or sub-type
        {% block hideShow %}
        function hideShow() {
            var current_type = getCurrentType();
            
            if (typeAllowsPlasmid(current_type)){
                document.getElementById('id_field_plasmid').style.visibility = 'visible';
            } else {
                document.getElementById('id_field_plasmid').style.visibility = 'hidden';
            }
    
            if (typeAllowsMarkers(current_type)){
                document.getElementById('id_field_markers').style.visibility = 'visible';
            } else {
                document.getElementById('id_field_markers').style.visibility = 'hidden';
            }
        }   
        {% endblock %}
        
        {% block func_setPlusLinks %}
        // override the link for "+" Buttons so that the correct category is pre-selected    
        function setPlusLinks() {
            var urladd = "/rotmic/dnacomponent/add/?category="
            {% with marker="Marker" plasmid="Plasmid" %}
                document.getElementById("add_id_markers").href = urladd + "{{marker|dnaCategoryToId}}";
                document.getElementById("add_id_plasmid").href = urladd + "{{plasmid|dnaCategoryToId}}";
            {% endwith %}
        }
        {% endblock %}
    
        {% block func_suggestName %}
        // compose new Name from plasmid and cell name
        function suggestName() {
            if (document.getElementById('id_field_plasmid').style.visibility == 'visible'){
                var f_cell = document.getElementById('id_componentType')
                var cell = f_cell.options[f_cell.selectedIndex].label;
    
                var plasmid = document.getElementById('id_plasmid_0').value;
                var pname = '';
                // extract "name" from "displayId (name)"
                if (plasmid){
                    pname = plasmid.match( /\(.+\)/ );
                    if (pname){
                        pname = pname[0].slice(1,-1); // remove "(" and ")"
                    } else {
                        pname = plasmid.split(' ')[0]; // use displayId and strip after first ' '
                    }
                }
                
                var r = pname + '@' + cell;
                document.getElementById( 'id_name').value = r;
            }
        }
        {% endblock %}
        
        {% block func_typeAction %}
        // method called if componentType (Species) select element is changed
        function typeAction() {
            setCategoryCache('lastType', document.getElementById( 'id_componentType' ).selectedIndex );
            hideShow();
            suggestName();
        }
        {% endblock %}
    
        // Append events to Main function
        {% block setEventsExtra %}
            document.getElementById( 'id_plasmid_0' ).djselectableselect = suggestName;
        {% endblock %}

<!--    </script>-->
    
