{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load rotmicfilters %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "dashboard.css" %}" />
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs%}<div class="breadcrumbs">
      <a href="../../../">Home</a> &rsaquo;
      <a href="../../">Rotmic</a> &rsaquo;
      <a href="../">Cells</a> &rsaquo;
      {{ o.displayId }}
    </div>
    {% endblock %}
{% endif %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}change-list{% endblock %}  {# keeps center scalable #}

{% block title %}Cell {{o.displayId}}{% endblock %} {# window title #}

{% block content %}

    <h3>modified Cell or Strain</h3><h1>{{o}}</h1>

    {% block object-tools %}
    {% if not is_popup %}
      <ul class="object-tools">
        {% block object-tools-items %}
        <li><a href="{% url opts|admin_urlname:'history' o.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
        <li><a href="edit">Edit</a></li>
        {% endblock %}
      </ul>
    {% endif %}
    {% endblock %}

    <div id="content-main">
    
        <div class='module'>
            <h2>Description</h2>
            <div>
                <p class='description'>
                    {{o.comment|markdown}}
                    {% if not o.comment %}
                        <p>No description found.</p>
                    {% endif %}
                </p>

                {% if o.plasmid and o.plasmid.comment %}
                    <div style="width: 100%; height: 1px;background: lightgrey; text-align: center;">
                        <h4>Description of Plasmid <a href="{{o.plasmid.get_absolute_url}}">{{o.plasmid}}</a></h4>
                    </div>
                    <p class='description'>
                        {{o.plasmid.comment|markdown}} 
                    </p>
                    {% if o.plasmid.attachments.count != 0 %}
                        <p><b>Note:</b> This plasmid record has {{o.plasmid.attachments.count}} attachment(s).</p>
                    {% endif %}
                {% endif %}

            </div>
    
            <div style="width: 100%; height: 1px;background: lightgrey; text-align: center;"><h4>Attachments</h4></div>
            <p><br></p>
    
            <div>
                {% if o.attachments.count != 0 %}
                    <table border="0" rules="none">
                        <tr>
                            {% for a in o.attachments.all %}
                                <th style="text-align: center;">
                                    <a href="{{a.f.url}}">{{a}}</a> <br>
                                </th>
                                <th></th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for a in o.attachments.all %}
                                <td style="text-align: center;">{{a.description}} ({{a.f.size|filesizeformat}})</td> 
                                <td></td>
                            {% endfor %}
                        </tr>
                    </table>
                {% else %}
                    <div><p>No attachments found.</p></div>
                {% endif %}
                <p></p>
            </div>
        </div>


        <div class='module'>        
            <h2>DNA features & modifications</h2>
            <p></p>

            <div style="width: 100%; height: 1px;background: lightgrey; text-align: center;"><h4>Genomic Markers</h4></div>
            
            <div style="margin: 10px">
                {% if o.marker.all %}
                    <table>
                        <tr>
                            {% for m in o.marker.all %}
                                <th style="text-align: center;">
                                    <a href="{{m.get_absolute_url}}" title="{{m.comment}}">{{m}}</a> <br>
                                </th>
                                <th></th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for m in o.marker.all %}
                                <td style="text-align: center;">[{{m.componentType}}]</td> 
                                <td></td>
                            {% endfor %}
                        </tr>
                    </table>
                {% else %}
                    <p>No genomic markers found.</p>
                {% endif %}
            </div>

            {% if o.plasmid %}
                {% with plasmid=o.plasmid insert=o.plasmid.insert vector=o.plasmid.vectorBackbone %}
            
                    <div style="width: 100%; height: 1px;background: lightgrey; text-align: center;">
                        <h4>Plasmid <a href="{{plasmid.get_absolute_url}}">{{plasmid}}</a></h4>
                    </div>
                    <p><dfn>[{{plasmid.componentType.name}}]</dfn></p>
                
                    <div style="text-align: center;">
                        <table style="margin: 10px auto;">
                            <tr>
                                <th></th>
                                <td style="text-align: center; font-weight:bold">Insert</td> <td></td> 
                                <td style="text-align: center; font-weight:bold">Vector</td> <td></td> 
                                <td style="text-align: center; font-weight:bold">Markers</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: center;">
                                    {% if insert %}
                                        <a href="{{insert.get_absolute_url}}" title="{{insert.comment}}">
                                            {{insert.displayId}}</a> -- {{insert.name}}<br>
                                            <dfn>[{{insert.componentType.name}}]</dfn>
                                    {% else %}
                                        No insert found.
                                    {% endif %}
                                </td><td></td>
                                <td style="text-align: center;">
                                    {% if vector %}
                                        <a href="{{vector.get_absolute_url}}" title="{{vector.comment}}">
                                            {{vector.displayId}}</a> -- {{vector.name}}<br>
                                            <dfn>[{{vector.componentType.name}}]</dfn>
                                    {% else %}
                                        No vector found.
                                    {% endif %}
                                </td><td></td>
                                <td style="text-align: center;">
                                    {% if vector.marker.all %}
                                        {% for m in vector.marker.all %}
                                            <a href="{{m.get_absolute_url}}" title="{{m.comment}}">{{m}}</a></br>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endwith %}

            {% endif %}
                
        
        </div>

    </div>

{% endblock %}

{% block sidebar %}
    <div id="content-related">

        <div class="module" id="rating-module">
            <h2>Rating</h2>
            <p>Not implemented</p>
        </div>

        <div class="module" id="classification-module">
            <h2>Classification</h2>
                <p> 
                {% with o.componentType as T %}
                    <a href="../?category={{T.category}}">{{T.category}}</a> /<br>
                    &nbsp&nbsp<a href="../?category={{T.category}}&type={{T.name}}">{{T.name}}</a>
                {% endwith %}
                </p>
        </div>

        <div class="module" id="record-module">
            <h2>Record</h2>
            <ul>    
                <li><B>Status</B>:<p>{{o.status}}</p></li>
                <li><B>registered</B>: 
                    <p>
                    {% with o.registeredBy as U %}
                        {{o.registrationDate}}; &nbsp{{o.registrationTime}}<br>
                        by <a href="../?registeredBy__id__exact={{U.id}}">
                            {{U.first_name}} {{U.last_name}} ({{U}})</a>
                    {% endwith %}
                    </p>
                </li>
                {% if o.modifiedBy %}
                    <li><B>last modified</B>: 
                        <p>
                        {% with o.modifiedBy as U %}
                            {{o.modificationDate}}; &nbsp{{o.modificationTime}}<br>
                            by {{U.first_name}} {{U.last_name}} ({{U}})
                        {% endwith %}
                        </p>
                    </li>
                {% endif %}   
            </ul>
        </div> 

    </div>
{% endblock %}

