{% extends "admin/rotmic/component/readonly.html" %}
{% load i18n admin_static admin_list admin_urls %}
{% load rotmicfilters %}


    {%block title-image%}
        <img src="{% static "img/cells.jpg" %}" align="left" height="45" 
        style="padding-left:0px; padding-right:10px; padding-top:0px; padding-bottom:5px"> 
    {%endblock%}

    {% block super-title %}<h3>modified Cell or Strain</h3>{%endblock%}
    
    {% block content-title%}<h2>Description</h2>{% endblock %} 
    
    {% block content-details %}{% endblock %}

    {% block content-description %}
        <div>
            <p class='description'>
                {{o.description|markdown}}
                {% if not o.description %}
                    <p>No description found.</p>
                {% endif %}
            </p>
        </div>
    {% endblock %}
        
    {% block content-middle %}
    
        {# skip sequence display in parent block #}
        
        <div class='module'>        
            <h2>DNA features & modifications</h2>
            <p></p>

            <div style="width: 100%; height: 1px;background: lightgrey; text-align: center;"><h4>Genomic Markers</h4></div>
            
            <div style="margin: 10px">
                {% if o.markers.all %}
                    <table>
                        <tr>
                            {% for m in o.markers.all %}
                                <th style="text-align: center;">
                                    <a href="{{m.get_absolute_url}}" title="{{m.description}}">{{m}}</a> <br>
                                </th>
                                <th></th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for m in o.markers.all %}
                                <td style="text-align: center;">[{{m.componentType}}]</td> 
                                <td></td>
                            {% endfor %}
                        </tr>
                    </table>
                {% else %}
                    <p>No genomic markers found.</p>
                {% endif %}
            </div>

            {% if o.plasmid %}
                {% with plasmid=o.plasmid vector=o.plasmid.vectorBackbone %}
            
                    <div style="width: 100%; height: 1px;background: lightgrey; text-align: center;">
                        <h4>Plasmid <a href="{{plasmid.get_absolute_url}}">{{plasmid}}</a></h4>
                    </div>
                    <p><dfn>[{{plasmid.componentType.name}}]</dfn></p>
                
                    <div style="text-align: center;">
                        <table style="margin: 10px auto;">
                            <tr>
                                <th></th>
                                <td style="text-align: center; font-weight:bold">Vector</td> <td></td> 
                                <td style="text-align: center; font-weight:bold">Markers</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: center;">
                                    {% if vector %}
                                        <a href="{{vector.get_absolute_url}}" title="{{vector.description}}">
                                            {{vector.displayId}}</a> -- {{vector.name}}<br>
                                            <dfn>[{{vector.componentType.name}}]</dfn>
                                    {% else %}
                                        No vector found.
                                    {% endif %}
                                </td><td></td>
                                <td style="text-align: center;">
                                    {% if vector.marker.all %}
                                        {% for m in vector.marker.all %}
                                            <a href="{{m.get_absolute_url}}" title="{{m.description}}">{{m}}</a></br>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endwith %}

                {% if o.plasmid.description %}
                    <h4>Plasmid Description:</h4>
                    <div style="margin: 10px">
                        <p>{{o.plasmid.description|markdown}} </p>
                        {% if o.plasmid.attachments.count != 0 %}
                            <p><b>Note:</b> This plasmid record has {{o.plasmid.attachments.count}} attachment(s).</p>
                        {% endif %}
                    </div>
                {% endif %}
                
            {% endif %}
        
        </div>
    
    {% endblock content-middle %}
        
    {% block add-sample-url %}
        <a href="{% url 'admin:rotmic_cellsample_add'%}?cell={{o.pk}}">
    {% endblock %}


