{% extends "admin/change_form.html" %}

{% load i18n admin_modify  %}

<!-- django-guardian admin modification -->
{% block object-tools-items %}
<li><a href="permissions/" class="permissionslink">{% trans "Object permissions" %}</a></li>
{{ block.super }}
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs%}<div class="breadcrumbs">
      <a href="../../../../">Home</a> &rsaquo;
      <a href="../../../">Rotmic</a> &rsaquo;
      <a href="../../">Samples</a> &rsaquo;
      <a href="../">{{original.displayId}}</a> &rsaquo;
      Edit
    </div>
    {% endblock %}
{% endif %}
