{% extends "admin/change_list.html" %}

{% load i18n admin_modify  %}

          {% block object-tools-items %}
            <li>
              <a href="{% url 'admin:rotmic_dnasample_add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                Add DNA Sample
              </a>
            </li>
            <li>
              <a href="{% url 'admin:rotmic_cellsample_add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                Add Cell Sample
              </a>
            </li>
            <li>
              <a href="{% url 'admin:rotmic_oligosample_add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                Add Oligo Sample
              </a>
            </li>
            <li>
              <a href="{% url 'admin:rotmic_chemicalsample_add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                Add Chemical Sample
              </a>
            </li>
          {% endblock %}
