{% extends "admin/change_form.html" %}

{% load i18n admin_modify admin_static %}

{% block after_field_sets %}

    {# prepare for "select" autocomplete fields #}
    {% block extrahead %}
        {# Note: the order of load and super is important #}
        {# jquery.ui libraries need to be loaded before selectable scripts #}
        {% load selectable_tags %}
        {% include_ui_theme %}
        {% include_jquery_libs %}
        
        {{ block.super }}
    {% endblock %}
    
{% endblock %}

{% block object-tools %}
    <ul class="object-tools">
        <li><a href="http://rotmic.iric.ca/wiki/UserGuide/Dialogs/{{opts.verbose_name|slugify}}" class="helplink">{% trans "Help!" %}</a></li>
        {% if change %}{% if not is_popup %}
            {% block object-tools-items %}
                {{ block.super }}
            {% endblock %}
        {% endif %}{% endif %}
    </ul>
{% endblock %}
