{% extends "admin/change_form.html" %}

{% load i18n admin_modify admin_static %}

{% block after_field_sets %}

    {# prepare for "select" autocomplete fields #}
    {% block extrahead %}
        {# Note: the order of load and super is important #}
        {# jquery.ui libraries need to be loaded before selectable scripts #}
        {% load selectable_tags %}
        {% include_ui_theme %}
        {% include_jquery_libs %}
        
        {{ block.super }}
    {% endblock %}
    
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs%}
    <div class="breadcrumbs">
        {% if original %}
            <a href="../../../../">Home</a> &rsaquo;
            <a href="../../../">Rotmic</a> &rsaquo;
            <a href="../../">{% block object-class1 %}{{opts.verbose_name_plural|capfirst}}{% endblock %}</a> &rsaquo;
            <a href="../">{{original.displayId|truncatewords:"18"}}</a> &rsaquo;
            Edit
        {% else %}
            <a href="../../../">Home</a> &rsaquo;
            <a href="../../">Rotmic</a> &rsaquo;
            <a href="../">{% block object-class2%}{{opts.verbose_name_plural|capfirst}}{% endblock%}</a> &rsaquo;
            {% block add-label%}Add New{%endblock%}
        {% endif %}
    </div>
    {% endblock %}
{% endif %}

<!-- django-guardian admin modification -->
{% block object-tools-items %}
<li><a href="permissions/" class="permissionslink">{% trans "Object permissions" %}</a></li>
{{ block.super }}
{% endblock %}