{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_modify admin_urls %}
{% load rotmicfilters %}
{% load comments %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "dashboard.css" %}" />
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs%}
    <div class="breadcrumbs">
      <a href="../../../">Home</a> &rsaquo;
      <a href="../../">Rotmic</a> &rsaquo;
      <a href="../">{{class_label}}s</a> &rsaquo;
      {%block breadcrums-id%}{{ o.displayId }}{%endblock%}
    </div>
    {% endblock %}
{% endif %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}change-list{% endblock %}  {# keeps center scalable #}

{% block title %}{{o.displayId}}{% endblock %} {# window title #}

{% block content %}

    {% block headline %}
        {% block title-image%}{% endblock %}
        {% block super-title %}<h3>{{class_label}}</h3>{% endblock %}
        {% block page-title %}<h1>{{o}}</h1>{% endblock %}
    {% endblock headline %}

    {% block object-tools %}
        {% if not is_popup %}
          <ul class="object-tools">
            {% block object-tools-items %}
                <li><a href="{% url opts|admin_urlname:'history' o.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
                <li><a href="edit">Edit</a></li>
            {% endblock %}
          </ul>
        {% endif %}
    {% endblock %}

    <div id="content-main">
    
        {% block content-top %}{% endblock %} {# override #}
        
        {% block content-middle %} {% endblock %} {#override #}
            
        {% block content-bottom %}{% endblock %} {# override #}
        
        {% block comments %}
        <div class="module" id="comments">
            {% render_comment_list for o %}
            {% render_comment_form for o %}
        </div>
        {% endblock %}
            
    </div>

{% endblock %}

{% block sidebar %}
    <div id="content-related">

        {% block side-rating %}
            <div class="module" id="rating-module">
                <h2>Feedback</h2>
                <p>
                {% get_comment_count for o as comment_count %}
                <a href="#comments">{{comment_count}} comments.</a>
                </p>
            </div>
        {% endblock %}
        
        {% block side-top %}{% endblock %}  {# override #}

        {% block side-record %}
            <div class="module" id="record-module">
                <h2>Record</h2>
                <ul>    
                    {% if o.status %}<li><B>Status</B>: <b>{{o.showStatus}}</b><br><br></li>{% endif %}
                    <li><B>registered</B>: 
                        <p>
                        {% with o.registeredBy as U %}
                            {{o.registeredAt}}<br>
                            by <a href="../?registeredBy__id__exact={{U.id}}">
                                {{U.first_name}} {{U.last_name}} ({{U}})</a>
                        {% endwith %}
                        </p>
                    </li>
                    {% if o.modifiedBy %}
                        <li><B>last modified</B>: 
                            <p>
                            {% with o.modifiedBy as U %}
                                {{o.modifiedAt}}<br>
                                by {{U.first_name}} {{U.last_name}} ({{U}})
                            {% endwith %}
                            </p>
                        </li>
                    {% endif %}   
                </ul>
            </div> 
        {% endblock %}
        
        {% block side-bottom %}{% endblock %}  {# override #}


    </div>
{% endblock %}