{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{# copied from changeform template#}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />{%endblock%}


{% block breadcrumbs%}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
    <a href="{% url 'admin:index' %}">Rotmic</a> &rsaquo;
    <a href="{% url 'admin:rotmic_'|add:model_name|add:'_changelist' %}">{% block object-class1 %}{{verbose_name|capfirst}}s{% endblock %}</a> &rsaquo;
    Upload Sequencing
</div>
{% endblock %}


{% block content %}        

    <h2>Attach Sequencing traces to Samples</h2>

    <ul class="object-tools">
        <li><a href="http://rotmic.iric.ca/wiki/UserGuide/Dialogs/upload-xls" class="helplink">{% trans "Help!" %}</a></li>
    </ul>

    
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url "upload_tracefiles" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="module">
            <h2>1. Select Samples</h2>
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.samples.errors }}</p>
            <p>
                <b>{{ form.samples.label_tag }}</b> {{ form.samples }} <br>
                <small>{{ form.samples.help_text }}</small>
            </p>
     
            <h2>2. Select Trace Files</h2>
            <p>{{ form.files.errors }}</p>
            <p>
                <b>{{ form.files.label_tag }}</b> {{ form.files }} <br>
                <small>{{ form.files.help_text }}</small>
            </p>
            
            <h2>3. Adjust Sequencing properties</h2>
            <p>
                Trace files will be pooled into one new sequencing record for each sample.
                You can adjust the properties of these new sequencing entries below.
            </p>
            
            <div class="section">
                <p>{{ form.evaluation.errors }}</p>
                <p>
                    <b>{{ form.evaluation.label_tag }}</b> {{ form.evaluation }} <br>
                    <small>{{ form.evaluation.help_text }}</small>
                </p>
            </div>

            <hr>

            <div class="section">
                <p>{{ form.orderedAt.errors }}</p>
                <p>
                    <b>{{ form.orderedAt.label_tag }}</b> {{ form.orderedAt }} <br>
                    <small>{{ form.orderedAt.help_text }}</small>
                </p>

                <p>{{ form.orderedBy.errors }}</p>
                <p>
                    <b>{{ form.orderedBy.label_tag }}</b> {{ form.orderedBy }} <br>
                    <small>{{ form.orderedBy.help_text }}</small>
                </p>
            </div>
        </div>

        <div class="submit-row">        
            <input type="submit" class="default" value="Upload">
        </div>
    </form>
                
{% endblock %}
