{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{# prepare for "select" autocomplete fields #}
{% block extrahead %}

    {# Note: selectable scripts and ressources: the order of load and super is important #}
    {% load selectable_tags %}
    {% include_ui_theme %}
    {% include_jquery_libs %}

    {# needed for selectable and calendar widgets #}   
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
        {{ form.media }}
    
    {# needed for selectable and calendar widgets #}   
    <script type="text/javascript"
        src="{% static 'admin/js/core.js' %}"></script>

    {# needed for calendar widgets -- double-loading is for some ordering reason neccessary #}   
    <script type="text/javascript"
        src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
    
    {# In this case, super is actually empty #}
    {{ block.super }} 
{% endblock %}

{# copied from changeform template#}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />{%endblock%}


{% block breadcrumbs%}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
    <a href="{% url 'admin:index' %}">Rotmic</a> &rsaquo;
    <a href="{% url 'admin:rotmic_'|add:model_name|add:'_changelist' %}">{% block object-class1 %}{{verbose_name|capfirst}}s{% endblock %}</a> &rsaquo;
    Upload Sequencing
</div>
{% endblock %}


{% block content %}        

    <h2>Attach Sequencing traces to Samples</h2>

    <ul class="object-tools">
        <li><a href="http://rotmic.iric.ca/wiki/UserGuide/Dialogs/upload-xls" class="helplink">{% trans "Help!" %}</a></li>
    </ul>

    
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url "upload_tracefiles" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}<p>{{ form.non_field_errors }}</p>{% endif %}
        <fieldset class="module">
        
            <h2>1. Select Samples</h2>
            
            <p>One new sequencing record will be created for each sample. 
            All trace files matched to a given sample will be attached to this new
            record. Existing sequencing
            records will <em>not</em> be modified. You must upload, at least,
            one trace file for each selected sample.
            <p>
            
            <div class="form-row field-samples">
    
                <div class="field-box field-samples required"
                title="Start typing container, sample or construct ID to restrict the choice.">
                    {% if form.samples.errors %}<p>{{ form.samples.errors }}</p>{% endif %}
                    <b>{{ form.samples.label_tag }}</b> {{ form.samples }} <br>
                    <small>{{ form.samples.help_text }}</small>
                </div>
                
            </div>
        </fieldset>
     
        <fieldset class="module">
            <h2>2. Select Trace Files</h2>
            
            <p>
            The file name will be used to match each trace to a sample. 
            By default, file names are expected to start with the sample ID 
            (the sample position within the container). You can change this 
            matching pattern below.
            </p>

            <div class="form-row field-files">

                <div class="field-box field-files required">
                    {% if form.files.errors %}<p>{{ form.files.errors }}</p>{% endif %}
                    {{ form.files.label_tag }} {{ form.files }} <br>
                    <small>{{ form.files.help_text }}</small>
                </div>

            </div>

            <div class="form-row field-matchBy">

                <div class="field-box field-matchBy"
                title="
File names need to contain certain characters that separate the different IDs 
from each other and from the rest of the name. Allowed separating characters 
are: 

'_'(underscore), ' '(space), ':', ';', '-'.

IDs are converted to lower case and leading zeros are removed to make the 
matching more robust. For example, let's assume you have a sample with ID 
'A01' which contains the DNA construct with ID 'sb0001'. If you select sample 
ID + construct ID matching, the following file names are all correct and will 
match the trace to this sample:

A1_sb0001_mysequencing.ab1 or 
a1-sb1-mysequencing.ab1 or 
A01:sb001_mysequencing.ab1
"               >
                    {% if form.matchBy.errors %}<p>{{ form.matchBy.errors }}</p>{% endif %}
                    {{ form.matchBy.label_tag }} {{ form.matchBy }} <br>
                    <small>{{ form.matchBy.help_text }}</small>
                </div>
   
            </div>
            
  
             <div class="form-row field-matchPrimer">

                <div class="field-box field-matchPrimer"
                title="
The trace file name may contain the ID of a sequencing primer. This ID has to
be an exact match (including capitalization/case and leading zeros) with the 
primer ID. The primer name does <em>not</em> work. The import will proceed 
even if there is no match, in which case the primer field is left empty for 
this trace.
"               >
                    {% if form.matchPrimer.errors %}<p>{{ form.matchPrimer.errors }}</p>{% endif %}
                    {{ form.matchPrimer.label_tag }} {{ form.matchPrimer }} <br>
                    <small>{{ form.matchPrimer.help_text }}</small>
                </div>
            
            </div>


        </fieldset>
     
        <fieldset class="module">
            
            <h2>3. Adjust Sequencing properties</h2>

            <p>
                Trace files will be pooled into one new sequencing record for each sample.
                You can adjust the properties of these new sequencing entries below.
            </p>

            <div class="form-row field-evaluation">
                
                <div class="field-box field-evaluation required">
                    {% if form.evaluation.errors %}<p>{{ form.evaluation.errors }}</p>{% endif %}
                    {{ form.evaluation.label_tag }} {{ form.evaluation }} <br>
                    <small>{{ form.evaluation.help_text }}</small>
                </div>
            </div>
    
            <div class="form-row field-orderedAt field-orderedBy">
 
                <div class="field-box field-orderedAt required">
                    {% if form.orderedAt.errors %}<p>{{ form.orderedAt.errors }}</p>{% endif %}

                    {{ form.orderedAt.label_tag }} {{ form.orderedAt }} <br>
                    <small>{{ form.orderedAt.help_text }}</small>
                </div>

                <div class="field-box field-orderedBy required" 
                title='Start typing user name to restrict choices'>      
                    {% if form.orderedBy.errors %}<p>{{ form.orderedBy.errors }}</p>{% endif %}
                        {{ form.orderedBy.label_tag }} {{ form.orderedBy }} <br>
                        <small>{{ form.orderedBy.help_text }}</small>
                </div>
            </div>
    
            <div class="form-row field-comments">

                <div class="field-box field-comments">
                    <p>{{ form.comments.errors }}</p>
                    <p>
                        <b>{{ form.comments.label_tag }}</b> {{ form.comments }} <br>
                        <small>{{ form.comments.help_text }}</small>
                    </p>
                </div>

            </div>

        </fieldset>

        <div class="submit-row">        
            <input type="submit" class="default" value="Upload">
        </div>
 
    </form>
                
{% endblock %}
