{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block breadcrumbs%}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
    <a href="{% url 'admin:index' %}">Rotmic</a> &rsaquo;
    <a href="{% url 'admin:rotmic_'|add:model_name|add:'_changelist' %}">{% block object-class1 %}{{verbose_name|capfirst}}s{% endblock %}</a> &rsaquo;
    Upload Table
</div>
{% endblock %}


{% block content %}        

    <p><br></p>
    <ul class="object-tools">
        <li><a href="http://rotmic.iric.ca/wiki/UserGuide/Dialogs/upload-xls" class="helplink">{% trans "Help!" %}</a></li>
    </ul>

    <h2>Bulk upload of {{verbose_name}}s</h2>
    
    <p>
    This form allows you to create several <b>new</b> {{verbose_name}} entries
    at once. This is how it works:
    <ol>
        <li>Click to <a href="{% static 'uploadexample_'|add:model_name|add:'.xlsx'%}">
                    download the Excel template file.</a>
        </li>

        <li>Replace any example data in that file with your description of new 
            entries -- one entry per row. Do not change table headers.
        </li>

        <li>Upload this file here.</li>
        
        <li>
            Verify that you get a 'successful import' kind of message. 
        </li>
    </ol>
    If there is any
        problem with <em>any</em> of the entries in the file, <em>nothing</em>
        from the file will be imported.
    </p>
    
    <h3>Notes about the Excel file:</h3>
    <p>
    <ul>
        <li>The ID of each new entry must be unique and not yet existing.</li>
        <li>References (e.g. the vectorBackbone of a DNA construct) are linked by 
        specifying their ID. Capitalization matters (usually, IDs should be all
        lower case).</li>
        <li>More detailed instructions are in the Excel file itself.</li>
    </ul>
    </p>
    
    <p><br></p>

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url "upload_"|add:model_name %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.tableFile.label_tag }} {{ form.tableFile.help_text }}</p>
        <p>
                {{ form.tableFile.errors }}
                {{ form.tableFile }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>
                
{% endblock %}
