{% extends "admin/base_site.html" %}
{% load i18n %}


{% block content %}        

                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url "uploadform" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.tableFile.label_tag }} {{ form.tableFile.help_text }}</p>
                        <p>
                                {{ form.tableFile.errors }}
                                {{ form.tableFile }}
                        </p>
                        <p><input type="submit" value="Upload" /></p>
                </form>
                
{% endblock %}
