{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{# copied from changeform template#}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />{%endblock%}


{% block breadcrumbs%}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
    <a href="{% url 'admin:index' %}">Rotmic</a> &rsaquo;
    <a href="{% url 'admin:rotmic_'|add:model_name|add:'_changelist' %}">{% block object-class1 %}{{verbose_name|capfirst}}s{% endblock %}</a> &rsaquo;
    Upload Sequencing
</div>
{% endblock %}


{% block content %}        

    <h2>Attach Sequencing traces to Samples</h2>

    <ul class="object-tools">
        <li><a href="http://rotmic.iric.ca/wiki/UserGuide/Dialogs/upload-xls" class="helplink">{% trans "Help!" %}</a></li>
    </ul>

    
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url "upload_tracefiles" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}<p>{{ form.non_field_errors }}</p>{% endif %}
        <fieldset class="module">
        
            <h2>1. Select Samples</h2>
            
            <div class="form-row field-samples">
    
                <div class="field-box field-samples required">
                    {% if form.samples.errors %}<p>{{ form.samples.errors }}</p>{% endif %}
                    <b>{{ form.samples.label_tag }}</b> {{ form.samples }} <br>
                    <small>{{ form.samples.help_text }}</small>
                </div>
                
            </div>
        </fieldset>
     
        <fieldset class="module">
            <h2>2. Select Trace Files</h2>

            <div class="form-row field-files">

                <div class="field-box field-files required">
                    {% if form.files.errors %}<p>{{ form.files.errors }}</p>{% endif %}
                    {{ form.files.label_tag }} {{ form.files }} <br>
                    <small>{{ form.files.help_text }}</small>
                </div>

            </div>

        </fieldset>
     
        <fieldset class="module">
            
            <h2>3. Adjust Sequencing properties</h2>

            <p>
                Trace files will be pooled into one new sequencing record for each sample.
                You can adjust the properties of these new sequencing entries below.
            </p>

            <div class="form-row field-evaluation">
                
                <div class="field-box field-evaluation required">
                    {% if form.evaluation.errors %}<p>{{ form.evaluation.errors }}</p>{% endif %}
                    {{ form.evaluation.label_tag }} {{ form.evaluation }} <br>
                    <small>{{ form.evaluation.help_text }}</small>
                </div>
            </div>
    
            <div class="form-row field-orderedAt field-orderedBy">
 
                <div class="field-box field-orderedAt required">
                    {% if form.orderedAt.errors %}<p>{{ form.orderedAt.errors }}</p>{% endif %}

                    {{ form.orderedAt.label_tag }} {{ form.orderedAt }} <br>
                    <small>{{ form.orderedAt.help_text }}</small>
                </div>

                <div class="field-box field-orderedBy required">      
                    {% if form.orderedBy.errors %}<p>{{ form.orderedBy.errors }}</p>{% endif %}
                        {{ form.orderedBy.label_tag }} {{ form.orderedBy }} <br>
                        <small>{{ form.orderedBy.help_text }}</small>
                </div>
            </div>
    
            <div class="form-row field-comments">

                <div class="field-box field-comments">
                    <p>{{ form.comments.errors }}</p>
                    <p>
                        <b>{{ form.comments.label_tag }}</b> {{ form.comments }} <br>
                        <small>{{ form.comments.help_text }}</small>
                    </p>
                </div>

            </div>

        </fieldset>

        <div class="submit-row">        
            <input type="submit" class="default" value="Upload">
        </div>
    </form>
                
{% endblock %}
