{% extends "admin/rotmic/change_form_viewfirst.html" %}

{% load i18n admin_modify rotmicfilters %}


{% block after_field_sets %}

    {{ block.super }}

    <script language=javascript type='text/javascript'>
        
        var selected_type_pk = {% if original %}{{original.componentType.pk}}{%else%} -1{%endif%};
        
        // update ComponentType ChoiceField to only show subTypes of selected category
        function updateTypes(){
            $.ajax({
                url : "{% url 'categoryTypes' typeclass=opts.verbose_name|guessComponentType %}",
                type : "GET",
                async: false,
                data : { 
                            category_id : $('#id_componentCategory').val(),
                        },
                success : function(data){
                            if(data){
                                var d = '<select id="id_componentType" name="Type">';
                                $.each(data, function(i, v){
                                    var selected = ''
                                    if (v.pk == selected_type_pk){selected='selected'}
                                    d += '<option value="' + v.pk + '" ' + selected +'>' + v.fields.name +'</option>';
                                });
                                d += '</select>';
                                $('#id_componentType').html(d);
                            }
                        },
                error : function(error){ 
                            alert('Cannot fetch sub-types. Error: ' + error[0])
                        },
                dataType : 'json'
            });
        }
    
        // skip category -> type filling if there is no category field
        if ( $('#id_componentCategory').length ){

            $('#id_componentCategory').change(updateTypes);

            $( document ).ready(updateTypes);
        }
        
        // request next available ID for currently selected category
        function suggestId() {
            if (sessionStorage.getItem('displayId_changed') != "1"){
                $.ajax({
                    url: "{% url 'nextId' modelclass=opts.verbose_name|guessComponentClass %}",
                    type: 'GET',
                    async: false,
                    data: { category_id : $('#id_componentCategory').val() },
                    success: function(data){                    
                        $('#id_displayId').val(data['id']);
                    }
                });
            }
        }
        
        // by default only call on fresh "Add New" form creation, don't update with category field or when form is reloaded with errors.
        {% if not original.pk and not errors %}
            if ($('#id_displayId').val() == ""){
                $( document ).ready(suggestId);
            }
        {% endif %}
        
        //GET indicates a freshly loaded form; POST means the form came back with errors
        {% if request.method == "GET" %}
            sessionStorage.clear();
        {% endif %}
        
        // helper function, creates hash map category_name -> pk
        // only used by DNA and Cell forms
        function captureCategories() {
            var listbox = document.getElementById('id_componentCategory')
            var table = {};
            for (var i=0; i < listbox.options.length; i++){
                table[ listbox.options[i].text ] = listbox.options[i].value;
            }
            return table;
        }
        
    </script>

{% endblock after_field_sets %}