{% extends "admin/rotmic/readonly.html" %}
{% load i18n admin_static admin_list admin_modify admin_urls %}
{% load rotmicfilters %}

{% block side-rating %}{% endblock %}

{% block page-title %}<h1>{{o.showVerbose}} ({{o.name}})</h1>{% endblock %}

{%block title-image%}
    <img src="{% static "img/rack.jpg" %}" align="left" height="54" width="70" 
    style="padding-left:0px; padding-right:10px; padding-top:0px"> 
{%endblock%}

{% block content-bottom %}    
    <h2>Containers</h2>
    
    <p> This Rack contains <b>{{o.containers.count}} containers</b> comprising 
        <b>{{o.sampleCount}}&nbsp;samples</b>.
        <a href="{% url 'admin:rotmic_container_changelist'%}?location={{o.location.id}}&rack={{o.id}}">
            <br>Jump to container table</a>
    </p>

    <ul class="object-tools">
        <li><a href="{% url 'admin:rotmic_container_add'%}?rack={{o.pk}}">Add Container</a></li>
    </ul>

    
    <div style="margin: 10px">
        <table cellspacing="0">

            <thead>
            <tr>
                <th>Container ID</th><th>Name</th><th>Type</th><th>Description</th><th>Samples</th>
            </tr>
            </thead>

            <tbody>
            {% for x in o.containers.all %}
            
              <tr class="{% cycle 'row1' 'row2' %}">
      
                <td><b><a href="{{x.get_absolute_url}}">{{x.displayId}}</a></b></td>
                   
                <td>{{x.name}}</td>
                
                <td>{{x.containerType}}</td>
                
                <td>{{x.description | truncateHTML:50}}</td>
                
                <td align="center">{{x.showSampleCount}}</td>
              </tr>

          {% endfor %}
          </tbody>
        </table>
        <p></p>
        <small>
            Help: Click on sample count to jump to pre-filtered Sample table.
            Move mouse over description to see full description.
        </small>
    </div>
    
{% endblock %} 

{% block side-top %}
    <div class="module" id="location-module">
        <h2>Location {{o.location}}</h2>
        <ul>
            <li><b>Room:</b> 
                {% if o.location.room %}{{o.location.room}}{% endif %}
            </li>
            <li><b>Temperature:</b> 
                {% if o.location.temperature %}
                    {{o.location.temperature}} C
                {%endif%}
            </li>
        </ul>
    </div>

{% endblock %}
