{% extends "admin/rotmic/sample/change_form.html" %}


{% block func_extra %}
{# ## stopped working, re-implement using django-selectable example #}
{# but for some reason, position completion stops working if this js is commented out #}

    // fetch all sub-types of given Category (Species) and fill cellType listbox
    // needs to be called as event from CategoryBox (assuming $(this) is sender
    function updateTypeBox(){
        categoryBox = $("select#id_cellCategory"); // note also available in $(this) when triggered as event
        var url = "/getCellTypes/" + categoryBox.val().toString() + "/";
        $.getJSON(url, {view: 'json'}, function(data) {
            var options = '';
            for (var i = 0; i < data.length; i++) {
                options += '<option value="' + data[i].pk + '">' + data[i].fields.name + '</option>';
            }
            $("#id_cellType").html(options);
            {% if original %}
                {# select current object's subtype if category matches otherwise first in list #}
                {% with type=original.cell.componentType %}
                    if ({{type.category.id}} == categoryBox.val()){
                        $("#id_cellType").val("{{type.id}}");
                    } else {
                        $("#id_cellType option:first").attr('selected', 'selected');
                    }
                {% endwith %}
            {% else %}
                $("#id_cellType option:first").attr('selected', 'selected');
            {% endif %}
        })
        $("#id_cellCategory").attr('selected', 'selected');
    }
  

{% endblock %}

{% block bind_extra %}
    $("select#id_cellCategory").change(updateTypeBox);
    updateTypeBox();
{% endblock %}

