{% extends "admin/rotmic/component/readonly.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load rotmicfilters benchling seqdisplay %}
{% load humanize %}

{% block extrastyle %}{{block.super}}
    {% seqdisplay_css %}
{% endblock %}

{% block extrahead %}{{ block.super }}
<!--  
    {% benchling_libs %}
-->
    {% seqdisplay_libs %}
{% endblock %}

{% block footer %}{{ block.super }}
<!--    place D3 javascript container at the end of the page so that-->
<!--    scrollbar has already appeared. Otherwise a silent resizing of the page-->
<!--    makes the SVG container violate the DIV boundaries.-->
    {% seqdisplay o 'seq-d3' %}
{% endblock %}

    {%block title-image%}
        <img src="{% static "img/protein.jpg" %}" align="left" height="45" 
        style="padding-left:0px; padding-right:10px; padding-top:0px; padding-bottom:5px"> 
    {%endblock%}

    {% block content-details %}
    <div style="margin: 10px">

        <table>
            <!--
            <tr class="row1" style="vertical-align:middle">
                <td></td><td></td><td></td>
            </tr>
            -->
    
            <tr class="row1" style="vertical-align:middle" >
                <td style="background-color:white; text-align:right">&bull;</td>
                <td><b>Length:</b></td><td>{{o.length}} aa</td>
            </tr>
            <tr  class="row1" style="vertical-align:middle" >
                <td style="background-color:white; text-align:right">&bull;</td>
                <td><b>Molecular Weight:</b></td><td>{{o.mass |intcomma}} D</td>
            </tr>
            <tr class="row1" style="vertical-align:middle" >
                <td style="background-color:white; text-align:right">&bull;</td>
                <td><b>Isoelectric Point:</b></td><td>{{o.isoelectric}}</td>
            </tr>
            <tr class="row1" style="vertical-align:middle" >
                <td style="background-color:white; text-align:right">&bull;</td>
                <td><b>E (280 nm):</b></td><td>{{o.e280reduced |intcomma}} M<sup>-1</sup> cm<sup>-1</sup></td>
            </tr>
            {%if o.maxSS%}
                <tr class="row1" style="vertical-align:middle" >
                <td style="background-color:white; text-align:right">&bull;</td>
                <td><b>E (280 nm):</b></td><td>{{o.e280ss |intcomma}} M<sup>-1</sup> cm<sup>-1</sup>
                   (assuming {{o.maxSS}} S-S bonds) </td>
                </tr>
            {% else %}
                <tr class="row1" style="vertical-align:middle" >
                    <td style="background-color:white; text-align:right">&bull;</td>
                    <td></td><td>no disulfide bonds possible</td>
                </tr>
            {%endif%}
        </table>
    </div>
    {% endblock %}

    {% block add-sample-url %} {# Link for "Add Sample" Button #}
        <a href="{% url 'admin:rotmic_proteinsample_add'%}?protein={{o.pk}}">
    {% endblock %}

    {% block content-middle %}
        
        {% block sequence %}
            <div id='sequence' class='module'> 
                <!-- Link to js function for toggling view of benchling or text div -->    
                <h2>Sequence 
                    (
<!--                     <a href='#' onclick="toggle_between('seq-benchling',['seq-text', 'seq-d3']);">Benchling</a> | -->
                     <a href='#' onclick="toggle_between('seq-text',['seq-benchling','seq-d3']);">Text</a> |
                     <a href='#' onclick="toggle_between('seq-d3',['seq-text','seq-benchling']);">Graphic</a>
                     )
                </h2> 
                
                <!-- style="display:none" completely removes the element at first loading of page-->
                <div id='seq-benchling' style='display:none'>
                    {# {% benchling o %}  #}
                </div>
                
                <div id='seq-text' style="height:145px;overflow:auto;display:none">
                    <p style='font-family:monospace;word-wrap:break-word'>
                        &gt;{{o.displayId}}<br>{{o.sequence}}
                    </p>
                </div>
                
                <div id='seq-d3' style="height:145px">
                </div>
                
            </div>        
        {% endblock sequence %}

        <div class='module'>
            <h2>encoding DNA</h2>

            <p><br></p>
            <ul class="object-tools">
                <li>
                    <a href="{%url 'admin:rotmic_dnacomponent_add'%}?translatesTo={{o.pk}}&name={{o.name}}">
                    Add new encoding DNA</a>
                </li>
            </ul>

            {% if o.codingSequences.count > 0 %}
                <p>
                    {{o.displayId}} is <b>encoded</b> by the following <b>DNA construct(s)</b>:
                </p>
                <div style="margin: 10px">
                    <table cellspacing="1">
            
                        <thead>
                        <tr>
                            <th>construct</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Samples</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for x in o.codingSequences.all %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                
                                <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                
                                <td>{{x.componentType}}</td>
                                  
                                <td>{{x.showDescription}}</td>
                                  
                                <td style="text-align: center;">{{x.dna_samples.count}}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>
                    No encoding DNA constructs registered. You can connect DNA
                    constructs to this protein using the "generates Protein" field
                    in the DNA record.
                </p>
            {% endif %}
        
        </div>

    {% endblock %}

    {% block side-bottom %}
        <div class="module" id="record-module">
            <h2>Export</h2>
            {% if o.genbank %}
                <p><a href="genbank/">Download GenBank file</a><p>
            {% else %}
                <p>No genbank file attached.</p>
            {% endif %}
        </div>
    {% endblock %}