{% extends "admin/rotmic/component/readonly.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load rotmicfilters benchling %}

{% block extrahead %}{{ block.super }}
    {% benchling_libs %}
{% endblock %}

    {%block title-image%}
        <img src="{% static "img/protein.jpg" %}" align="left" height="45" 
        style="padding-left:0px; padding-right:10px; padding-top:0px; padding-bottom:5px"> 
    {%endblock%}

    {% block content-details %}
        <p><ul>
            <li><b>Length:</b> {{o.length}} aa</li>
            <li><b>Molecular Weight:</b> {{o.mass}} D</li>
            <li><b>Isoelectric Point:</b> {{o.isoelectric}}</li>
        </ul><p>
    {% endblock %}

    {% block add-sample-url %} {# Link for "Add Sample" Button #}
        <a href="{% url 'admin:rotmic_proteinsample_add'%}?protein={{o.pk}}">
    {% endblock %}

    {% block content-middle %}
        
        {% block sequence %}
            <div class='module'> 
                <h2>Sequence</h2>
                {% benchling o %}
            </div>        
        {% endblock sequence %}

        <div class='module'>
            <h2>encoding DNA</h2>

            <p><br></p>
            <ul class="object-tools">
                <li>
                    <a href="{%url 'admin:rotmic_dnacomponent_add'%}?translatesTo={{o.pk}}&name={{o.name}}">
                    Add encoding DNA</a>
                </li>
            </ul>

            {% if o.codingSequences.count > 0 %}
                <p>
                    {{o.displayId}} is <b>encoded</b> by the following <b>DNA construct(s)</b>:
                </p>
                <div style="margin: 10px">
                    <table cellspacing="1">
            
                        <thead>
                        <tr>
                            <th>construct</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Samples</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for x in o.codingSequences.all %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                
                                <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                
                                <td>{{x.componentType}}</td>
                                  
                                <td>{{x.showDescription}}</td>
                                  
                                <td style="text-align: center;">{{x.dna_samples.count}}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>
                    No encoding DNA constructs registered. You can connect DNA
                    fragments to this protein using the "translates To" field
                    in the DNA record.
                </p>
            {% endif %}
        
        </div>

    {% endblock %}

    {% block side-bottom %}
        <div class="module" id="record-module">
            <h2>Export</h2>
            {% if o.genbank %}
                <p><a href="genbank/">Download GenBank file</a><p>
            {% else %}
                <p>No genbank file attached.</p>
            {% endif %}
        </div>
    {% endblock %}