/* Styles for Sequence Display Widget */

.axis path, .axis line {
    fill: none;
    stroke-width: 2;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.feature-label {
    font-family : sans-serif;
    font-size: 11px;
}

.sequence-text {
    font-family : sans-serif;
    font-size: 12px;
}