{% extends "reversion/change_list.html" %}

{% load i18n admin_modify  %}

    {% block object-tools-items %}
        {{block.super}}
        <li>
            <a href="{% url 'upload_oligocomponent' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
              Upload Table
            </a>
        </li>
    {% endblock %}

    {% block filters %}
        {{block.super}}
        <div id='changelist-filter'>
            <h2>Filter / <a href="{%url 'search' model='oligocomponent'%}">Advanced...</a></h2>
        </div>
    {% endblock %}
