{% extends "admin/rotmic/change_form_viewfirst.html" %}

{% load i18n admin_modify  %}
{% load rotmicfilters %}

{% block after_field_sets %}
    {{ block.super }}

    {% block javascript %}
    <script language=javascript type='text/javascript'>

        {% block func_suggestId %}
        function suggestId(){
            var id_field = document.getElementById('id_displayId');
            $.ajax({
                async: false,
                type: 'GET',
                // override if needed:
                url: {% block ajax-nextId %}"/rotmic/ajax/nextOligoId/"{% endblock ajax-nextId %},
                success: function(data){                    
                    id_field.value = data['id'];
                }
            });
        }
        {% endblock %}

        {% block func_main %}
        $(document).ready(function(){
        
            {# pre-fill sample ID if NEW object form is called #}
            {% if not original %}
                suggestId();
            {% endif %}
            
            {% block bind_extra %}
            {% endblock bind_extra %}
        }); 
        {% endblock func_main %}

    </script>
    {% endblock javascript %}

{% endblock %}