{% extends "admin/rotmic/readonly_component.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load rotmicfilters %}

    {%block title-image%}
        <img src="{% static "img/oligo.jpg" %}" align="left" height="45" 
        style="padding-left:0px; padding-right:10px; padding-top:0px; padding-bottom:5px"> 
    {%endblock%}

    {%block super-title%}<h3>Oligonucleotide</h3>{%endblock%}

    {%block content-details %}
        <p><ul>
            <li><b>Length:</b> {% if o.sequence %}{{o.sequence|length}}{%else%} 0{%endif%} bp</li>
            <li><b>Purification:</b> {{o.purification}}</li>
            <li><b>Tm:</b> {% if o.meltingTemp %}{{o.meltingTemp}} C{%else%}{%endif%}</li>
        </ul><p>
    {% endblock %}
    
    {% block seqstyle %}{% endblock %}

    {%block add-sample-url %} {# Link for "Add Sample" Button #}
        <a href="{% url 'admin:rotmic_oligosample_add'%}?oligo={{o.pk}}">
    {% endblock %}

    {% block content-middle %}
        
        {{block.super}}

        <div class='module'>
            <h2>related templates: {{o.templates.count}}; related primers: {{o.reversePrimers.count}}</h2>
            
            {% if o.templates.count > 0 %}
                <p>
                    {{o.displayId}} is matched to the following <b>DNA templates</b>:
                </p>
                <div style="margin: 10px">
                    <table cellspacing="1">
            
                        <thead>
                        <tr>
                            <th>construct</th><th>Description</th>
                            <th>Samples</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for x in o.templates.all %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                
                                <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                  
                                <td>{{x.showDescription}}</td>
                                  
                                <td style="text-align: center;">{{x.dna_samples.count}}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        
            <p><br></p>        
            
            {% if o.reversePrimers.count > 0 %}
                <p>
                    {{o.displayId}} is matched to the following <b>reverse Primers</b>:
                </p>
                <div style="margin: 10px">
                    <table cellspacing="1">
            
                        <thead>
                        <tr>
                            <th>Oligo</th><th>Description</th>
                            <th>Samples</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for x in o.reversePrimers.all %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                
                                <td><b><a href="{{x.get_absolute_url}}">{{x}}</a></b></td>
                                  
                                <td>{{x.showDescription}}</td>
                                  
                                <td style="text-align: center;">{{x.oligo_samples.count}}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        
    {% endblock content-middle %}

        
{% block side-top %}
    <div class="module" id="classification-module">
        <h2>Classification</h2>
            <p> 
            {% with o.componentType as T %}
                <a href="../?componentType__id_exact={{T.id}}">{{T}}</a><br>
            {% endwith %}
            </p>
    </div>
{% endblock side-top %}
